<app-user-sidebar></app-user-sidebar>
<br>
<div class="container mat-elevation-z8">
  <h2 class="well">Leave Application Form</h2>
  <div class="row">
    <form [formGroup]="LeaveReqForm" (ngSubmit)="onLeaveSubmit()">
      <div class="col-sm-12">
        <div class="row">
          <div class="col-sm-6 form-group">
            <label>email</label>
            <input type="text" placeholder="Enter Your Compony Email" formControlName="email" class="form-control" />

          </div>
          <div class="col-sm-6 form-group">
            <label>Subject Line</label>
            <input type="text" placeholder="Enter The Subject" formControlName="subject" class="form-control" />

          </div>
          <div class="col-sm-5 form-group">
            <label>Leave Type</label>
            <!-- <input type="text" placeholder="Enter City Name Here.." formControlName="gender" class="form-control" /> -->
            <select type="number" class="form-control" placeholder="Select Leave Type "
                                            formControlName="leaveType" class="form-control" >
                                            <option></option>
                                            <option>Medical Leave</option>
                                            <option>Cashual Leave</option>
                                            <option>Sick Leave(Full Day)</option>
                                            <option>Sick Leave(Half Day)</option>
                                            <option>Casual Leave</option>
                                            <option>Optional Leaves(Full Day)</option>
                                            <option>Optional Leaves(Half Day)</option>
                                            <option>Family Care Leave </option>
                                        </select>                            
          </div>
        </div>
        <br>

        <label>Reason</label>
        <textarea placeholder="Reason for Leave " rows="2" formControlName="reason" class="form-control"></textarea>

        <br>
        <div class="row">
          <div class="col-sm-6 form-group">
            <label>From Date</label>
            <input type="date" placeholder="" formControlName="fromDate" class="form-control" />
          </div>
          <div class="col-sm-6 form-group">
            <label>To Date</label>
            <input type="Date" placeholder="" formControlName="toDate" class="form-control" />
          </div>
        </div>
        <br>
        <br>
        <br>
        <mat-divider></mat-divider>
        <h2></h2>
        <br>
        <br>
        <br>
        <br>
        <button type="submit" class="btn btn-lg btn-info " style="align-items: center;">Submit Leave Request</button>
        <br>
      </div>
      <br>
    </form>
  </div>
  
</div>